// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, ul, li, button, table {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: collapse;
  list-style: none;
}

header {
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: lightgray;
}

.logo {
  max-width: 100px;
  min-width: 100px;
}

.nav-bar {
  width: calc(100vw - 100px);
  display: flex;
  justify-content: space-around;
}

button {
  border: 1px solid black;
  padding: 5px;
  max-width: 100px;
}

button:hover {
  cursor: pointer;
}
